<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Example</title>
  </head>
  <body>
    <h1>Basic Example</h1>
    <div id="container"></div>
    <script src="https://unpkg.com/vue@2.5.4"></script>
    <script src="https://unpkg.com/vuex@3.0.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="/vuex-async-module.js"></script>
    <script type="text/babel">
      const store = new Vuex.Store({
        modules: {
          // using axios in this example
          movies: VuexAsyncModule.default({ xhr: axios.get })
        }
      })

      Vue.component('movies', {
        data: function () {
          return {
            url: 'https://ghibliapi.herokuapp.com/films'
          }
        },
        mixins: [VuexAsyncModule.asyncModuleMixin],
        template: `<h4 v-if="moviesRequestIsPending"> Loading... </h4>
          <ul v-else>
            <li
              v-for="movie in movies"
              :key="movie.id">
              <h2> {{ movie.title }} - {{ movie.release_date }} </h2>
              <p> {{ movie.description }} </p>
            </li>
          </ul>`,
        beforeMount () {
          this.getAsyncMovies({url: this.url })
        }
      })
      
      new Vue({
        el: '#container',
        template: '<movies />',
        store        
      })
    </script>
  </body>
</html>